
  <header>
      <div class="section">
          <div class="title__seach">Filter by keywords</div>
          <div class="input__seach">
              <img src="./../assets/img/icons/seach.png" alt="seach" class="img__seach">
              <input type="text" class="input__seach-text" size="80" id="autoComplete" id="articleInput">
          </div>
          <div class="results__seach">
              Results: 6
          </div>
          <div class="line__seach"></div>
      </div>
  </header>

  <div class="section">
      <div class="container-fluid">
          <div class="row flex-wrap">
              <div class="col-4">
                  <div class="news">
                          <a href="more.html" class="news__link"></a>
                          <div class="news__img">
                              <img src="./../assets/img/news/01.jpg" alt="news">
                          </div>
                          <div class="desc">
                              <div class="news__data">
                                  <img src="./../assets/img/icons/calendar.png" alt="calendar" class="news__icon">
                                  <span class="news__data-date">June 29th, 2021</span>
                              </div>
                              <div class="news__title">
                                  <h1 class="news__title-title" data-title1></h1>
                              </div>
                              <div class="news__decs" data-desc1>
                                  
                              </div>
                              <div class="news__btn">
                                  <button class="button">Read more</button>
                                  <img src="./../assets/img/icons/Arrow.png" alt="arrow" class="news__btn-arrow">
                              </div>
                          </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="news">
                      <a href="more.html" class="news__link"></a>
                          <div class="news__img">
                              <img src="./../assets/img/news/02.jpg" alt="news">
                          </div>
                          <div class="desc">
                              <div class="news__data">
                                  <img src="./../assets/img/icons/calendar.png" alt="calendar" class="news__icon">
                                  <span class="news__data-date">June 15th, 2021</span>
                              </div>
                              <div class="news__title">
                                  <h1 class="news__title-title" data-title2></h1>
                              </div>
                              <div class="news__decs" data-desc2>
                              </div>
                              <div class="news__btn">
                                  <button class="button">Read more</button>
                                  <img src="./../assets/img/icons/Arrow.png" alt="arrow" class="news__btn-arrow">
                              </div>
                          </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="news">
                      <a href="more.html" class="news__link"></a>
                          <div class="news__img">
                              <img src="./../assets/img/news/03.jpg" alt="news">
                          </div>
                          <div class="desc">
                              <div class="news__data">
                                  <img src="./../assets/img/icons/calendar.png" alt="calendar" class="news__icon">
                                  <span class="news__data-date">June 1st, 2021</span>
                              </div>
                              <div class="news__title">
                                  <h1 class="news__title-title" data-title3></h1>
                              </div>
                              <div class="news__decs" data-desc3>
                              </div>
                              <div class="news__btn">
                                  <button class="button">Read more</button>
                                  <img src="./../assets/img/icons/Arrow.png" alt="arrow" class="news__btn-arrow">
                              </div>
                          </div>
                  </div> 
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <div class="news">
                          <a href="more.html" class="news__link"></a>
                          <div class="news__img">
                              <img src="./../assets/img/news/01.jpg" alt="news">
                          </div>
                          <div class="desc">
                              <div class="news__data">
                                  <img src="./../assets/img/icons/calendar.png" alt="calendar" class="news__icon">
                                  <span class="news__data-date">June 29th, 2021</span>
                              </div>
                              <div class="news__title">
                                  <h1 class="news__title-title" data-title4></h1>
                              </div>
                              <div class="news__decs" data-desc4>
                                  
                              </div>
                              <div class="news__btn">
                                  <button class="button">Read more</button>
                                  <img src="./../assets/img/icons/Arrow.png" alt="arrow" class="news__btn-arrow">
                              </div>
                          </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="news">
                      <a href="more.html" class="news__link"></a>
                          <div class="news__img">
                              <img src="./../assets/img/news/04.jpg" alt="news">
                          </div>
                          <div class="desc">
                              <div class="news__data">
                                  <img src="./../assets/img/icons/calendar.png" alt="calendar" class="news__icon">
                                  <span class="news__data-date">June 15th, 2021</span>
                              </div>
                              <div class="news__title">
                                  <h1 class="news__title-title" data-title5></h1>
                              </div>
                              <div class="news__decs" data-desc5>
                              </div>
                              <div class="news__btn">
                                  <button class="button">Read more</button>
                                  <img src="./../assets/img/icons/Arrow.png" alt="arrow" class="news__btn-arrow">
                              </div>
                          </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="news">
                      <a href="more.html" class="news__link"></a>
                          <div class="news__img">
                              <img src="./../assets/img/news/03.jpg" alt="news">
                          </div>
                          <div class="desc">
                              <div class="news__data">
                                  <img src="./../assets/img/icons/calendar.png" alt="calendar" class="news__icon">
                                  <span class="news__data-date">June 1st, 2021</span>
                              </div>
                              <div class="news__title">
                                  <h1 class="news__title-title" data-title6></h1>
                              </div>
                              <div class="news__decs" data-desc6>
                              </div>
                              <div class="news__btn">
                                  <button class="button">Read more</button>
                                  <img src="./../assets/img/icons/Arrow.png" alt="arrow" class="news__btn-arrow">
                              </div>
                          </div>
                  </div> 
              </div>
          </div>
          <div class="row"></div>
      </div>
  </div>
